<a href="https://colab.research.google.com/github/kkktim/Colab/blob/master/Ch01.%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D%20%EA%B8%B0%EC%B4%88%20/%203_Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/04/25
이름 : 강태호
내용 : 파이썬 Pandas 패키지 실습

Pandas 라이브러리
 - 파이썬 자료구조 DataFrame 처리를 지원하는 라이브러리
 - DataFrame은 행과 컬럼으로 이루어진 구조체(데이터베이스 테이블 구조)
"""
import pandas as pd

In [4]:
#DataFrame 생성
df1 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]])
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
#칼럼명을 갖는 DataFrame 생성
df2 = pd.DataFrame({'uid': ['a101', 'a102', 'a103', 'a104', 'a105'],
                    'name': ['김춘추', '김유신','장보고','강감찬','이순신'],
                    'age': [25, 27, 32, 41, 52]})
df2

    uid name  age
0  a101  김춘추   25
1  a102  김유신   27
2  a103  장보고   32
3  a104  강감찬   41
4  a105  이순신   52

In [7]:
#DataFrame 개발 출력
print(df1[0][0])
print(df1[0][1])
print(df1[1][2])
print(df2['uid'][0])
print(df2['name'][1])
print(df2['name'][4])

1
4
8
a101
김유신
이순신

In [8]:
#CSV 파일로 DataFrame 생성
df_exam = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/exam.csv')
df_exam

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [9]:
#기본 요약 통계
df_exam.describe()

             id      class       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [11]:
#상위 5개
df_exam.head()

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58
4   5      2    25       80       65

In [12]:
#하위 5개
df_exam.tail()

    id  class  math  english  science
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [13]:
#수학점수 60점 이상 출력
df_exam[df_exam.math >= 60]

    id  class  math  english  science
1    2      1    60       97       60
6    7      2    80       90       45
7    8      2    90       78       25
10  11      3    65       65       65
14  15      4    75       56       78
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [15]:
#수학점수 내림차순
df_exam.sort_values(by='math', ascending=False)

    id  class  math  english  science
7    8      2    90       78       25
18  19      5    89       68       87
17  18      5    80       78       90
6    7      2    80       90       45
19  20      5    78       83       58
14  15      4    75       56       78
16  17      5    65       68       98
10  11      3    65       65       65
1    2      1    60       97       60
15  16      4    58       98       65
9   10      3    50       98       45
5    6      2    50       89       98
0    1      1    50       98       50
13  14      4    48       87       12
12  13      4    46       98       65
11  12      3    45       85       32
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
8    9      3    20       98       15

In [19]:
#영어점수 60 ~ 70 , 내림차순
df_exam[(df_exam.math >= 60) & (df_exam.math < 70)].sort_values(by='english', ascending=False)

    id  class  math  english  science
1    2      1    60       97       60
16  17      5    65       68       98
10  11      3    65       65       65