<a href="https://colab.research.google.com/github/kkktim/Colab/blob/master/Ch02.%20%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5%20/%205_%EC%84%9C%ED%8F%AC%ED%8A%B8_%EB%B2%A1%ED%84%B0_%EB%A8%B8%EC%8B%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"""
날짜 : 2022/05/03
이름 : 강태호
내용 : 서포트 벡터 머신 실습
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
################### XOR 머신러닝 #####################
#학습데이터
train_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
train_label = [0, 1, 1, 0]

In [6]:
#학습
model = svm.SVC()
model.fit(train_data, train_label)

SVC()

In [7]:
#테스트
test_data = [[0, 1], [1, 1]]
result = model.predict(test_data)
result

array([1, 0])

In [8]:
################### iris 머신러닝 #####################
#학습데이터
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [55]:
#학습데이터, 라벨 분류 (train_size = 학습 데이터 사이즈)
iris_data = df_iris.iloc[:, 0:4]
iris_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.8)
train_data

     sepal.length  sepal.width  petal.length  petal.width
106           4.9          2.5           4.5          1.7
58            6.6          2.9           4.6          1.3
51            6.4          3.2           4.5          1.5
1             4.9          3.0           1.4          0.2
12            4.8          3.0           1.4          0.1
..            ...          ...           ...          ...
81            5.5          2.4           3.7          1.0
90            5.5          2.6           4.4          1.2
83            6.0          2.7           5.1          1.6
8             4.4          2.9           1.4          0.2
97            6.2          2.9           4.3          1.3

[120 rows x 4 columns]

In [56]:
#학습
model = svm.SVC()
# model = LogisticRegression()
model.fit(train_data, train_label)

SVC()

In [57]:
#테스트
result = model.predict(test_data)
result

array(['Virginica', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Setosa', 'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa'], dtype=object)

In [58]:
#성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9666666666666667

In [60]:
################### pima-indian 머신러닝 #####################
#데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [70]:
#학습데이터
pima_data = df_pima.iloc[:, 0:8]
pima_label = df_pima.iloc[:, 8]
train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label, train_size=0.8)
train_data

      0    1   2   3    4     5      6   7
396   3   96  56  34  115  24.7  0.944  39
518  13   76  60   0    0  32.8  0.180  41
598   1  173  74   0    0  36.8  0.088  38
516   9  145  88  34  165  30.3  0.771  53
234   3   74  68  28   45  29.7  0.293  23
..   ..  ...  ..  ..  ...   ...    ...  ..
438   1   97  70  15    0  18.2  0.147  21
487   0  173  78  32  265  46.5  1.159  58
745  12  100  84  33  105  30.0  0.488  46
286   5  155  84  44  545  38.7  0.619  34
406   4  115  72   0    0  28.9  0.376  46

[614 rows x 8 columns]

In [71]:
#학습
model = svm.SVC()
model.fit(train_data, train_label)

SVC()

In [72]:
#테스트
result = model.predict(test_data)
result

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [73]:
#평가
score = metrics.accuracy_score(result, test_label)
score

0.7727272727272727